<html>
	<head>
		<title>Xanadu Project</title>
		<script type="text/javascript" src="http://extjs.cachefly.net/ext-3.4.0/adapter/ext/ext-base.js"></script>
		<link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.4.0/resources/css/ext-all.css" />
		<link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.4.0/resources/css/xtheme-gray.css" />
		<script type="text/javascript" src="http://extjs.cachefly.net/ext-3.4.0/ext-all.js"></script>
		<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyByA2RX0W8sllXXdptHRY4gNoezX4QLNsc'></script>
		<script src="http://www.openlayers.org/api/2.11/OpenLayers.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}/js/GeoExt/lib/GeoExt.js"></script>
		<script type="text/javascript">
			var STATIC_URL = "{{ STATIC_URL }}";
		</script>
		<script type="text/javascript" src="{{ STATIC_URL }}/js/map.js"></script>
	</head>
	<body>
	</body>
</html>
