<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Request Viewer</title>
	<link rel="stylesheet" type="text/css" href="/training/media/css/extjs/ext-all-gray.css">
	<link rel="stylesheet" type="text/css" href="/training/media/css/Request-Viewer.css">
	
	<style type="text/css">
		.x-menu-item img.preview-right, .preview-right {
			background-image: url(/training/media/images/training/preview-right.gif);
		}
		.x-menu-item img.preview-bottom, .preview-bottom {
			background-image: url(/training/media/images/training/preview-bottom.gif);
		}
		.x-menu-item img.preview-hide, .preview-hide {
			background-image: url(/training/media/images/training/preview-hide.gif);
		}

		#reading-menu .x-menu-item-checked {
			border: 1px dotted #a3bae9 !important;
			background: #DFE8F6;
			padding: 0;
			margin: 0;
		}
	</style>

	<script type="text/javascript" src="/training/media/js/extjs/bootstrap.js"        ></script>

	<script type="text/javascript" src="/training/media/js/requester/CampaignMap.js"          ></script>
	<script type="text/javascript" src="/training/media/js/requester/CampaignPanel.js"        ></script>
	<script type="text/javascript" src="/training/media/js/requester/CampaignViewer.js"       ></script>
	<script type="text/javascript" src="/training/media/js/requester/CampaignFiltersWindow.js"></script>
	<script type="text/javascript">
		var user_id = {{ user.id }};
		Ext.Loader.setConfig({enabled: true});
		Ext.Loader.setPath('Ext.ux', '/training/media/js/extjs/ux');
		Ext.require([
			'Ext.grid.*',
			'Ext.data.*',
			'Ext.util.*',
			'Ext.Action',
			'Ext.tab.*',
			'Ext.button.*',
			'Ext.form.*',
			'Ext.layout.container.Card',
			'Ext.layout.container.Border',
			'Ext.ux.PreviewPlugin'
		]);
		Ext.onReady(function(){
			var app = new RequestViewer.App();
		});
	</script>
	<script type="text/javascript" src="/training/media/js/commons/stores.js"         ></script>
</head>
<body>
</body>
</html>